body {
	font-family: "Space mono", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.5rem;
	color: $lm-kashmir-blue;
}

.heading-primary {
	font-size: 2.6rem;
	line-height: 3.8rem;
	font-weight: 700;
	color: $lm-ebony-clay;
}

.heading-secondary {
	font-size: 2.2rem;
	line-height: 3.3rem;
	font-weight: 700;
}

.heading-tertiary {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 400;
}

.heading-quad {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 400;
}
