// Color Variable

//Light Mode Colors
$lm-azure-radiance: #0079ff;
$lm-lynch: #697c9a;
$lm-kashmir-blue: #4b6a9b;
$lm-ebony-clay: #2b3442;
$lm-white: #fefefe;
$lm-zircon: #f6f8ff;
$lm-error: #fa7161;

// Dark Mode Colors
$dm-azure-radiance: #0079ff;
$dm-white: #ffffff;
$dm-big-stone: #141d2f;
$dm-cloud-burst: #1e2a47;
